.chat-screen {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for overall layout */
    overflow: hidden;
}

.no-contact-selected {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #666;
}