.contacts-section {
    width: 30%; /* Expanded slightly to 30% */
    background-color: #007bff; /* Vibrant blue */
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.contact-item {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #ffffff; /* White background for contact items */
    color: #007bff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: inline-block;
    min-width: 90%;
}

.contact-username {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;

}

.contact-email {
    font-size: 12px;
    color:#000000
}


/* Contact List */
.contact-list {
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
}

.contact-list::-webkit-scrollbar {
    display: none;
}

.contact-item:hover {
    background-color: #0056b3; /* Darker blue on hover */
    color: white;
    transform: scale(1.02); /* Slight zoom effect */
    border-radius: 8px;

}

.contact-item.selected {
    background-color: #003f7f; /* Darkest blue for selected contact */
    color: white;
}

/* Add Contact Button */
.add-contact-button {
    padding: 15px;
    width: 49%;

    margin-top: 20px;
    margin-right: 5px;
    border: none;
    background-color: #000000; /* Vibrant red-orange for button */
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;

}

.add-contact-button:hover {
    background-color: #48ff00; /* Slightly darker red-orange */
}

.settings-button {
    width: 49%;
    padding: 15px;
    margin-top: 20px;
    margin-right: 5px;
    border: none;
    background-color: #000000; /* Vibrant red-orange for button */
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: inline-block;
}

.settings-button:hover {
    background-color: #3c3c3c; /* Slightly darker red-orange */
}

.logout-button {
    width: 49%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    background-color: #000000; /* Vibrant red-orange for button */
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    display: inline-block;
}

.logout-button:hover {
    background-color: #d9ff00; /* Slightly darker red-orange */
}

.settings-logout-div {

    border-bottom: 0px solid #1c1c1c; /* Red separator line */
}

.delete-contact-button {
    padding: 15px;
    width: 49%;
    margin-top: 20px;
    border: none;
    background-color: #000000; /* Vibrant red-orange for button */
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;

  }
  
  .delete-contact-button:hover {
    background-color: #ff0000; /* Adjust the hover color as needed */
  }