.contact-list {
    flex: 1;
    padding: 10px;
    /* overflow-y: auto;
    overflow-x: hidden; */
}
/* 
.contact-list::-webkit-scrollbar {
    display: none;
} */


.contact-item {
    padding: 15px;
    border-bottom: 1px solid #3c3c3c;
    cursor: pointer;
    display: flex;
    justify-content: space-between; 
}

.contact-username {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
}

.contact-email {
    font-size: 16px;
    color:#3c3c3c
}


.contact-item.selected {
    background-color: #ddd;
    border-radius: 8px;

}

.status.online {
    color: green;
}

.status.offline {
    color: red;
}
